.loading-bar {
    width: 80%;
    height: 20px;
    background-color: #eee;
    position: relative;
  }

  .progress-bar {
    height: 100%;
    background-color: #3498db;
    width: 50%; /* Adjust the width based on your loading progress (0% to 100%) */
    text-align: end;
    border-radius: 5px;
  }

  .skill {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    flex-direction: column;
    width: 80%;
  }
  .percentiles {
    margin-right: 7px;
  }
